form(role="form")
  .form-group
    label(for="origin") Plano 
    select.form-control#origin(ng-model="client", required="required", ng-options="c.nome_fantasia for c in selectClients")
      option
  
  .form-group
    label(for="module") Origem/Destino
    select.form-control#module(ng-model="module", required="required", ng-options="m.name for m in selectModules")
      option
  .form-group
    label(for="module") Tempo da ligação (minutos)
    input(type="number")
