extends layout

block body
  div(ng-controller='AppCtrl')
    
    <!-- header -->
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          <!-- logo, its better with responsive image -->    
          a.navbar-brand.logo-nav(href="#")
            img(src="http://placehold.it/150x75&text=Logo")

        <!-- nav links -->
        div.collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/sobre") sobre
            li 
              a(href="/servicos") serviços
            li 
              a(href="/simulacao") simulação
            li 
              a(href="/contato") contato

    <!-- /header -->    

    <!-- content -->
    div.container
      div(ng-view)

      footer
        hr
        div.row
          div.col-lg-12
            p &copy; teleproject 2014

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/bootstrap/jquery-1.10.2.js')
  script(src='js/lib/bootstrap/bootstrap.js')
  script(src='https://cdn.firebase.com/v0/firebase.js')
  script(src='https://cdn.firebase.com/libs/angularfire/0.5.0-rc1/angularfire.js')
  script(src='js/lib/angular/angular-locale_pt-br.js')

