!!!
html(ng-app="myApp")(lang="pt-br")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="webapp desenvolvido para testes")
    meta(name="author", content="victorkurauchi")

    base(href='/')
    title teleproject @ vizir

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/small-business.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')

  body
    block body